.ICEauthority
.SecretSyncLogView
.Skype
.VirtualBox
.adobe
.af_instances
.af_token
.android
.bash_history
.bash_logout
.cache
.ccache
.dbus
.dropbox
.dropbox-dist
.esd_auth
.fontconfig
.gem
.gitignore
.gnome2
.gnome2_private
.gnupg
.gphoto
.grl-bookmarks
.grl-metadata-store
.grl-podcasts
.gstreamer-0.10
.guard_history
.heroku
.lesshst
.local
.macromedia
.minecraft
.mission-control
.mozilla
.mplayer
.netrc
.node-gyp
.npm
.nvm
.pki
.pulse
.pulse-cookie
.scala_history
.secretsync
.spice-vdagent
#.ssh
.thumbnails
.vim/bundle
.vim/swap
.vim/undo
.viminfo
.wine
.xsession-errors
.xsession-errors.old
Downloads
Dropbox
Local
Pictures
Repositories
SecretSync
VirtualBox VMs
YNAB
bin
tmp
